{
  "openapi": "3.1.0",
  "info": {
    "title": "Nimbus BCI API",
    "description": "Nimbus API for Brain-Computer Interface authentication, licensing, model registry, and SDK installation. Inference is performed locally via NimbusSDK.jl, not through API calls.",
    "contact": {
      "name": "Nimbus BCI Support",
      "email": "hello@nimbusbci.com",
      "url": "https://nimbusbci.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://nimbusbci.com/terms"
    },
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.nimbusbci.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    },
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyBody": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key as query parameter"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key in header"
      },
      "apiKeyBody": {
        "type": "apiKey",
        "in": "header",
        "name": "Content-Type",
        "description": "API key in request body (application/json)"
      }
    },
    "schemas": {
      "ApiKeyRequest": {
        "type": "object",
        "required": ["api_key"],
        "properties": {
          "api_key": {
            "type": "string",
            "pattern": "^nbci_(live|test)_[a-f0-9]{48}$",
            "description": "Nimbus API key",
            "example": "nbci_live_a1b2c3d4e5f678901234567890abcdef12345678901234567890"
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "required": ["valid", "user_id", "email", "license_type", "features", "quota"],
        "properties": {
          "valid": {
            "type": "boolean",
            "example": true
          },
          "user_id": {
            "type": "string",
            "example": "usr_1234567890"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "researcher@university.edu"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Dr. Jane Smith"
          },
          "organization": {
            "type": "string",
            "nullable": true,
            "example": "Neuroscience Lab"
          },
          "license_type": {
            "type": "string",
            "enum": ["free", "research", "commercial", "enterprise"],
            "example": "research"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["batch_inference", "streaming", "training", "model_export"]
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-01-01T00:00:00Z"
          }
        }
      },
      "RefreshResponse": {
        "type": "object",
        "required": ["valid", "license_type", "features", "quota"],
        "properties": {
          "valid": {
            "type": "boolean",
            "example": true
          },
          "license_type": {
            "type": "string",
            "enum": ["free", "research", "commercial", "enterprise"]
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "quota": {
            "$ref": "#/components/schemas/Quota"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "RevokeRequest": {
        "type": "object",
        "required": ["api_key"],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "description": "Optional reason for revocation (for audit logs)"
          }
        }
      },
      "RevokeResponse": {
        "type": "object",
        "properties": {
          "revoked": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "API key successfully revoked"
          }
        }
      },
      "GitHubTokenResponse": {
        "type": "object",
        "required": ["success", "github_token", "message"],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "github_token": {
            "type": "string",
            "pattern": "^ghp_[A-Za-z0-9]{36}$",
            "description": "GitHub Personal Access Token for NimbusSDKCore installation",
            "example": "ghp_xxxxxxxxxxxxxxxxxxxx"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Token expiration time (null for non-expiring)"
          },
          "message": {
            "type": "string",
            "example": "GitHub token retrieved successfully"
          }
        }
      },
      "Quota": {
        "type": "object",
        "required": ["monthly_limit", "used", "remaining", "resets_at"],
        "properties": {
          "monthly_limit": {
            "type": "integer",
            "example": 50000,
            "description": "Monthly inference quota limit"
          },
          "used": {
            "type": "integer",
            "example": 1234,
            "description": "Number of inferences used this month"
          },
          "remaining": {
            "type": "integer",
            "example": 48766,
            "description": "Remaining inferences this month"
          },
          "resets_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-01T00:00:00Z",
            "description": "When the quota resets"
          }
        }
      },
      "ModelInfo": {
        "type": "object",
        "required": ["name", "version", "type", "paradigm", "n_features", "n_classes"],
        "properties": {
          "name": {
            "type": "string",
            "example": "motor_imagery_4class_v1"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "type": {
            "type": "string",
            "enum": ["NimbusLDA", "NimbusQDA", "NimbusProbit"],
            "example": "NimbusLDA"
          },
          "paradigm": {
            "type": "string",
            "enum": ["motor_imagery", "p300", "ssvep", "erp"],
            "nullable": true,
            "example": "motor_imagery"
          },
          "n_features": {
            "type": "integer",
            "example": 16
          },
          "n_classes": {
            "type": "integer",
            "example": 4
          },
          "size_mb": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 2.3
          },
          "download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://models.nimbusbci.com/rxlda/motor_imagery_4class_v1.jld2"
          },
          "checksum": {
            "type": "string",
            "nullable": true,
            "example": "sha256:abc123..."
          },
          "requires_license": {
            "type": "string",
            "enum": ["free", "research", "commercial", "enterprise"],
            "example": "free"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ModelsListResponse": {
        "type": "object",
        "required": ["models", "total"],
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelInfo"
            }
          },
          "total": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "AnalyticsRequest": {
        "type": "object",
        "required": ["api_key", "event_type"],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "event_type": {
            "type": "string",
            "enum": ["inference", "model_load", "error"]
          },
          "model_name": {
            "type": "string"
          },
          "inference_type": {
            "type": "string",
            "enum": ["batch", "streaming"]
          },
          "duration_ms": {
            "type": "integer"
          },
          "success": {
            "type": "boolean",
            "default": true
          },
          "error_message": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AnalyticsResponse": {
        "type": "object",
        "required": ["logged"],
        "properties": {
          "logged": {
            "type": "boolean",
            "example": true
          },
          "event_id": {
            "type": "string"
          },
          "quota": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["status", "timestamp", "version"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "unhealthy"],
            "example": "healthy"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-10-27T14:30:00Z"
          },
          "version": {
            "type": "string",
            "example": "v1"
          },
          "database": {
            "type": "string",
            "enum": ["connected", "disconnected"],
            "example": "connected"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "enum": [
              "MISSING_KEY",
              "INVALID_FORMAT",
              "MISSING_EVENT_TYPE",
              "INVALID_KEY",
              "KEY_EXPIRED",
              "KEY_NOT_FOUND",
              "METHOD_NOT_ALLOWED",
              "QUOTA_EXCEEDED",
              "RATE_LIMIT_EXCEEDED",
              "SERVER_ERROR",
              "NOT_CONFIGURED"
            ],
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/auth/validate": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Validate API key",
        "description": "Validates an API key and returns user permissions, quota, and license information",
        "operationId": "validateApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid API key format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh API key credentials",
        "description": "Refreshes API key credentials and returns updated quota information",
        "operationId": "refreshApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credentials refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/revoke": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Revoke API key",
        "description": "Permanently revokes an API key. This action is irreversible.",
        "operationId": "revokeApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "API key not found or already revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installer/github-token": {
      "get": {
        "tags": ["SDK Installation"],
        "summary": "Get GitHub token for SDK installation",
        "description": "Returns a GitHub Personal Access Token for installing the proprietary NimbusSDKCore package. Used by install_core() in NimbusSDK.jl.",
        "operationId": "getGitHubToken",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Nimbus API key (can also be provided via header or POST body)"
          }
        ],
        "security": [
          {
            "apiKeyQuery": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub token retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "GitHub token not configured on server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["SDK Installation"],
        "summary": "Get GitHub token for SDK installation (POST)",
        "description": "Alternative POST method to get GitHub token with API key in request body",
        "operationId": "getGitHubTokenPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GitHub token retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "GitHub token not configured on server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/list": {
      "get": {
        "tags": ["Models"],
        "summary": "List available models",
        "description": "Returns all available pre-trained models based on user's license tier",
        "operationId": "listModels",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Nimbus API key"
          },
          {
            "name": "paradigm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["motor_imagery", "p300", "ssvep", "erp"]
            },
            "description": "Filter by BCI paradigm"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["NimbusLDA", "NimbusQDA", "NimbusProbit"]
            },
            "description": "Filter by model type"
          }
        ],
        "security": [
          {
            "apiKeyQuery": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/log": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Log analytics event",
        "description": "Log inference events and usage metrics. This is optional and does not affect SDK functionality.",
        "operationId": "logAnalytics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Event logged successfully (Accepted)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": ["Health"],
        "summary": "API health check",
        "description": "Returns API status and database connection information. No authentication required.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "API is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "unhealthy"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "API key validation, refresh, and revocation"
    },
    {
      "name": "SDK Installation",
      "description": "GitHub token retrieval for NimbusSDKCore installation"
    },
    {
      "name": "Models",
      "description": "Pre-trained model registry and downloads"
    },
    {
      "name": "Analytics",
      "description": "Optional usage tracking and performance metrics"
    },
    {
      "name": "Health",
      "description": "API health and status monitoring"
    }
  ]
}
